@import url("https://fonts.googleapis.com/css2?family=Goldman");
@import "tailwindcss";

@theme {
  /* Tus colores personalizados */
  --color-brand-black: #000000;
  --color-brand-panel: #0a0a0a;
  --color-brand-border: #222222;
  --color-brand-textMuted: #888888;
  --color-brand-green: #93e32b;

  /* Tus fuentes */
  --font-sans: "Goldman", system-ui, sans-serif;
  --font-mono: "Space Grotesk", monospace;

  /* Tus animaciones */
  --animate-marquee: marquee 25s linear infinite;
  --animate-spin-slow: spin 12s linear infinite;

  /* Los keyframes van directamente aquí dentro */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@layer base {
  body {
    background-color: var(--color-brand-black);
    color: #ffffff;
    overflow-x: hidden;
  }
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-brand-green);
    border-radius: 4px;
  }
}
@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl);
  }
  
}